-# 部分テンプレートでは、『@』を使用しないで取り出しが可能。
.col-sm-4.col-md-3.proto-content
  - if prototype.user_id == current_user.id
    .dropdown.drop_menu_location
      %button.btn.btn-default.dropdown-toggle(data-toggle="dropdown" id="dropdownMenu")
        Action
      %ul.dropdown-menu(aria-labelledby="dropdownMenu1")
        %li
          = link_to "Delete", prototype_path(prototype), method: :delete, rel: "nofollow"
        %li
          = link_to "Edit", edit_prototype_path(prototype)

  .thumbnail
    = link_to image_tag(prototype.set_main_thumbnail), prototype_path(prototype)
    -# = link_to image_tag(prototype.captured_images.main.first.content), prototype_path(prototype)：メソッド定義前
    -# 下記のインデントの位置に気をつける。（静的サムネイルと比較参照）
    .caption
      %h3= prototype.title
      .proto-meta
        .proto-user
          -# user_pathの引数は、『prototypel.user』で良い（.idが付いても良い）
          = link_to "#{prototype.user.name}", user_path(prototype.user)
        .proto-posted
          = prototype.posted_date
      %ul.proto-tag-list.list-inline
        - prototype.tags.each do |tag|
          %li
            = link_to "#{tag.name}", tag_path(tag.name), class: "btn btn-default"

  -#
    静的サムネイルを参考の為に残す。
    .col-sm-4.col-md-3.proto-content
      .thumbnail
        %a{href: "/prototypes/show"}
          = image_tag("sample.png")
          .caption
            %h3 Salvation Army on iPad App Wireframe
            .proto-meta
              .proto-user
                %a{href: "#"} by user
              .proto-posted
                Apr 26
            %ul.proto-tag-list.list-inline
              %li
                %a{href: "#", class: "btn btn-default"} iPad
              %li
                %a{href: "#", class: "btn btn-default"} wireframe
