.container.proto-page
  %header.row.user-nav
    .col-md-6
      .media
        .media-left
          = link_to user_path(@prototype.user) do
            = image_tag(@prototype.user.avatar.thumb, alt: "profile_photo", class: "media-object", style: "width: 64px; height: 64px;")
            -# 『.thumb』はuploaderで定めた為、使用可能。
        -#
          下記の書き方はこの場合、シンタックスエラーとなる。
          = link_to image_tag(@prototype.user.avatar) user_path(@prototype.user)

        .media-body
          %h4#top-aligned-media.media-heading
            =@prototype.title
          .proto-user
            by
            = link_to "#{@prototype.user.name}",user_path(@prototype.user)
            %span.degree= @prototype.user.occupation

    / 未設定
    .col-md-6.text-right
      %button.btn.btn-default
        = image_tag("icon_heart.svg")
        Like
        %span.num 20
  .row
    .col-md-9
      = image_tag(@prototype.set_main_thumbnail.large, class: "img-responsive", style: "margin: 0 auto;")
    .col-md-3
      %ul.proto-sub-list.list-group
        -# 『sub』とすることでサブのみの取り出しが可能。
        - @prototype.captured_images.sub.each do |image|
          %li.list-group-item
            = image_tag(image.content, class: 'img-responsive')

  .row.proto-description
    .col-md-3
      %h4 Catch Copy
      %p= @prototype.catch_copy
    .col-md-6
      %h4 Concept
      %p= @prototype.concept
    .col-md-3
      %h4 Tag List
      %ul.proto-tag-list.list-inline
        - @tags.each do |tag|
          %li{style: "display: block;"}
            = link_to "#{tag.name}", tag_path(tag.name), class: "btn btn-default"

  .row.proto-comments
    %h4.col-md-12
      Comments
      %span.num (#{@comment_counts})
    .col-md-8
      #comment_list
        = render partial: "comment", collection: @comments

      = form_for [@prototype,@comment], remote: true, html: {class: "form-inline", role: "form"} do |f|
        -# 『remote: ture』を付加することで、ページを更新しないでリクエストだけ投げてくれる。
        -# 上記を設定した理由は、jsonによる画像の差込が出来ない為。
        %h4 Write a comment
        .row
          .form-group.col-md-10
            = f.text_area :content, rows: "3", placeholder: "Your comments", class: "form-control"
          .form-group.col-md-2
            = f.submit "Comment", class: "btn btn-primary"
